*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

.close_icon{
    position: fixed;
    width: 30px;
    height: 30px;
    left: 2vw;
    top: 2vh;
}